In [32]:
import psycopg2
import pandas as pd
import datetime

In [16]:
# Establish a connection to the PostgreSQL database
conn = psycopg2.connect(
    host='10.7.8.59',
    port='5433',
    dbname='fixtransactions',
    user='scalp',
    password='QAtr@de442'
)

# Define the SQL query
query = """
    SELECT a.tag100, AVG(b.tag52 - b.tag60) as avg_difference, count(b.tag52) as counts
    FROM fixmsg a
    JOIN fixmsg b ON a.tag11 = b.tag11
    WHERE a.tag52 >= TIMESTAMP '2023-02-23'
    AND a.tag52 < TIMESTAMP '2023-02-24'
    AND b.tag52 >= TIMESTAMP '2023-02-23'
    AND b.tag52 < TIMESTAMP '2023-02-24'
    AND a.tag35 = 'AB'
    AND b.tag35 = '8'
    AND b.tag39 = '0'
    GROUP BY a.tag100;
"""

# Execute the query and load the results into a Pandas DataFrame
df = pd.read_sql(query, conn)

# Print the first 5 rows of the DataFrame
print(df.head())

# Close the database connection
conn.close()

C:\Users\scalp\AppData\Local\Temp\ipykernel_5316\3948682627.py:26: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

  tag100         avg_difference  counts
0  AMEXO 0 days 00:00:00.492000     132
1   ARCO        0 days 00:00:00   49596
2   BOXO 0 days 00:00:00.000969      32
3    C2O 0 days 00:00:00.000560  867648
4   C2OX        0 days 00:00:00     579

In [17]:
df['avg_difference'] = df['avg_difference'].dt.total_seconds()

In [18]:
df

      tag100  avg_difference   counts
0      AMEXO        0.492000      132
1       ARCO        0.000000    49596
2       BOXO        0.000969       32
3        C2O        0.000560   867648
4       C2OX        0.000000      579
5      CBOEO        0.000603  1243372
6       EDGO        0.000000      470
7      EDGXO        0.000573   538946
8       EMLD        0.000000      296
9       ISEO        0.000675  2523308
10   ISESPRD        0.000050       20
11      MIAX        0.000612   843088
12  MIAXEMLD        0.000624  1126445
13     PCXOS        0.000830  2481619
14     PHLXO        0.000679  3080386
15   TBBLAST        0.000000        4
16    TBMAKE        0.000000        2
17         W        0.001000        3
18      XBOX        0.000000      126
19      XCBO        0.000000     5038
20      XISX        0.000000     5690
21      XMIO        0.000000      553
22      XPHO        0.000000     9779

In [35]:
today = datetime.datetime.today()
date_str = today.strftime('%Y-%m-%d')
filename = f'latency_report_{date_str}.csv'
df.to_csv(filename,index=False)

datetime.datetime(2023, 2, 27, 13, 51, 14, 695496)